div.header{
  overflow: auto;
  background-color: #DCDCDC;
}
div.header img {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 25px;
  padding-top: .1em;
  width: 13em;
  float: right;

}

div.header h1 {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 25px;
  padding-top: .5em;
  padding-right: 3em;
  text-align: left;
  width: 35em;
  float: left;
}

