<app-header-user></app-header-user>
<app-tab-menu></app-tab-menu>
<p-table #dt [columns]="cols" [value]="mts"
         selectionMode="single" [(selection)]="selectedMt" (onRowSelect)="onRowSelect($event)" [paginator]="true"  [rows]="10" [rowsPerPageOptions]="[5,10,15,20]">
    <ng-template pTemplate="caption">
        <div style="text-align: right">
            <button pButton icon="pi pi-plus" (click)="refreshTransactionsPage()" label="Refresh transactions">
            </button>
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>

            </th>
        </tr>
        <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
                <input *ngSwitchCase="'mtFileName'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                <input *ngSwitchCase="'mtCreatedDate'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
                <input *ngSwitchCase="'pacsFileName'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                <ng-container *ngIf="col.field==='pdeFlag'">
                    <input type="checkbox"  class="customCheckBox large"  value="" [checked]="rowData[col.field]"  disabled/>
                </ng-container>
                <ng-container *ngIf="col.field!=='pdeFlag'">
                    {{rowData[col.field]}}
                </ng-container>

            </td>
        </tr>
    </ng-template>

</p-table>

<p-dialog header="Transaction Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [closable]="true" [style]="{'width':'800px'}">
    <div class="ui-g ui-fluid" *ngIf="mt">
        <div class="ui-g-4"><label for="mtFileContent">MT Content</label></div>
        <div class="ui-g-8"><textarea  class="mtFileContentTextarea" id="mtFileContentTextarea" [(ngModel)]="mt.mtFileContent" disabled autoResize></textarea></div>

        <div class="ui-g-4"><label for="pacsFileContent">MX Content</label></div>
        <div class="ui-g-8"><textarea  class="mtFileContentTextarea" id="pacsFileContent" [(ngModel)]="mt.pacsFileContent" disabled autoResize ></textarea></div>

    </div>

</p-dialog>

<app-footer-user></app-footer-user>
