<app-header-user></app-header-user>
<app-tab-menu></app-tab-menu>

<div class="ui-g-4"><label>BIC</label></div>
<div class="ui-g-8"><input pInputText id="inputFolder"   size="30" [(ngModel)]="bic" /></div>
<br>

<div class="text-center">
    <button pButton icon="pi pi-plus" (click)="showBicProp()" label="Show BIC details">
    </button>
</div>

<div class="container" *ngIf="isSuccess">
    <div class="ui-g-8"><textarea  class="bicDetailsTextarea" id="bicDetailsTextarea" [(ngModel)]="bicResponse" disabled autoResize></textarea></div>
</div>

<div class="container" *ngIf="isError">
    <h3>Swift service is not available</h3>
</div>

<app-footer-user></app-footer-user>
