<app-header-user></app-header-user>
<app-tab-menu></app-tab-menu>

<p-panel header="Upload a message in system">
<div class="text-center">
    <button pButton icon="pi pi-plus" (click)="fileInput.click()" label="Choose a transaction">
        <input #fileInput type="file" (change)="onChange($event)" style="display:none;"/>
    </button>
    {{filename}}
</div>

<div *ngIf="displayDialogUpload">

    <div class="text-center">
        <br>
        <button type="button" pButton icon="pi pi-plus" (click)="onUpload()" label="Transform MT to MX"></button>&nbsp;
        <button pButton icon="pi pi-plus" (click)="onUploadToQ()" label="Send to MQ"></button>
    </div>
    <!--Flag variable is used here-->
    <div class="container" *ngIf="loading">
        <h3>Loading ...</h3>
    </div>
    <div class="container" *ngIf="isSucces">
        <h3>The file : {{message}} was successfully transformed </h3>
    </div>
    <!--Flag variable is used here-->
    <div class="container" *ngIf="isError">
        <h3>Upload failed reason : {{message}}</h3>
        <div class="container" *ngIf="displayDuplicate">
        <button pButton icon="pi pi-plus" (click)="onUploadDuplicate()"
                label="Override duplicate">
        </button>
        </div>
    </div>

    <div class="container" *ngIf="isInvalid">
        <h3>Invalid format</h3>
    </div>
    <div class="container" *ngIf="isSuccesQ">
        <h3>Message was sent to: SWIFT.CHANNEL QM_NETLINK Q_TOSWIFT</h3>
    </div>

    <div class="container" *ngIf="isErrorQ">
        <h3>Upload failed reason </h3>
    </div>

</div>
</p-panel>
<p-panel header="Batch upload into Kafka">
    <div class="text-center">
        <button pButton icon="pi pi-plus" (click)="fileBatch.click()" label="Choose a batch">
            <input #fileBatch type="file" (change)="onBatchUpload($event)" style="display:none;"/>
        </button>
        {{filename}}
    </div>
    <div class="container" *ngIf="isInvalidBatch">
        <h3>Invalid format</h3>
    </div>
    <div class="container" *ngIf="loadingBatch">
        <h3>Loading ...</h3>
    </div>
    <div class="container" *ngIf="isSuccesBatch">
        <h3>Message was sent to Kafka producer</h3>
    </div>

    <div class="container" *ngIf="isErrorBatch">
        <h3>Upload failed </h3>
    </div>
</p-panel>
<app-footer-user></app-footer-user>
