<app-header-user></app-header-user>
<app-tab-menu></app-tab-menu>
<p-panel header="Delete transactions">
<div>Delete from:</div>
<p-calendar [(ngModel)]="start" icon="pi pi-calendar" showIcon = true>
</p-calendar>
<br>
<br>
<div>Delete until:</div>
<p-calendar [(ngModel)]="end" icon="pi pi-calendar"  showIcon = true>
</p-calendar>
<br>
<br>
<div class="text-center">
    <button pButton icon="pi pi-plus" (click)="onDelete()" label="Delete transactions">
    </button>
</div>
<div class="container" *ngIf="invalidRange">
    <h3>Start date should be before end date! </h3>
</div>
<div class="container" *ngIf="isSuccess">
    <h3>Deleted successfully </h3>
</div>
<div class="container" *ngIf="isError">
    <h3>Errors deleting transactions </h3>
</div>
<div class="container" *ngIf="isUpdateConfigSuccess">
    <h3>Config updated successfully </h3>
</div>
<div class="container" *ngIf="isUpdateConfigError">
    <h3>Errors updating config </h3>
</div>
</p-panel>
<p-panel header="System properties">
<div class="ui-g-4"><label for="inputFolder">Input folder</label></div>
<div class="ui-g-8"><input pInputText id="inputFolder"   size="30" [(ngModel)]="prop.inputFolder" /></div>

<div class="ui-g-4"><label for="outputFolder">Output folder</label></div>
<div class="ui-g-8"><input pInputText id="outputFolder" size="30" [(ngModel)]="prop.outputFolder" /></div>

<div class="ui-g-4"><label for="mqChannel">MQ channel</label></div>
<div class="ui-g-8"><input pInputText id="mqChannel" size="30" [(ngModel)]="prop.mqChannel" /></div>

<div class="ui-g-4"><label for="mqHost">MQ host</label></div>
<div class="ui-g-8"><input pInputText id="mqHost" size="30" [(ngModel)]="prop.mqHost" /></div>

<div class="ui-g-4"><label for="mqPort">MQ port</label></div>
<div class="ui-g-8"><input pInputText id="mqPort" size="30" [(ngModel)]="prop.mqPort" /></div>

<div class="ui-g-4"><label for="mqName">MQ name</label></div>
<div class="ui-g-8"><input pInputText id="mqName" size="30" [(ngModel)]="prop.mqName" /></div>

<div class="ui-g-4"><label for="inQueue">In queue</label></div>
<div class="ui-g-8"><input pInputText id="inQueue" size="30" [(ngModel)]="prop.inQueue" /></div>

    <div class="ui-g-4"><label for="inQueue">Number of retries</label></div>
    <div class="ui-g-8"> <p-inputNumber [(ngModel)]="prop.retriesNo" [min]="1" [max]="5" showButtons="true"></p-inputNumber></div>
<br>
<div class="text-center">
    <button pButton icon="pi pi-plus" (click)="onUpdateProp()" label="Update properties">
    </button>
</div>
</p-panel>
<app-footer-user></app-footer-user>
