<app-header-user></app-header-user>
<app-tab-menu></app-tab-menu>

    <iframe src="http://172.31.31.93:8080/actuator/logfile" frameborder="0" height="800"
               width="100%"></iframe>
<app-footer-user></app-footer-user>
