ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body  {background-image: url(/assets/images/ntlnk_background2.jpg);
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}
